body>table{
width:80%
}

table{
    border-collapse: collapse;
}

table.list{
    width: 100%;
}

td,th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even), table.list, thead>tr{
    background-color: grey;
} */

input[type=text], input[type=number]{
    width: 100%;
    height: 40px;
    padding: 12px, 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid greenyellow;
    border-radius: 5px;
    box-sizing: border-box;

}

input[type=submit]{
    width: 30%;
    background-color:greenyellow;
    height: 40px;
    cursor: pointer;
    padding: 10px;
}
form  div.form-action-buttons{
    text-align: right;
}
a{
    cursor: pointer;
    text-decoration: underline;
    margin-top: 4px;
}

label.validation-error{
    color: red;
    margin-left: 5px;

}
.hide{
    display: none;
}